
<div class="m__panel-list__body">
		<div class="m__tabs m__tabs-list">
			{{! {{ include("../action/cmp_betslip_action--tabs.html") }} 
			{{! {{ include("../action/cmp_betslip_action--delete.html") }} 
				<div class="c__betslip__content c__betslip__error-content">
				Hallo?
						{{m-offcanvas-opt-title-main}}

						{{! {{ include("../tabs/cmp_betslip_single.html") }}
						{{! {{ include("../tabs/cmp_betslip_combi.html") }} 
						{{! {{ include("../tabs/cmp_betslip_system.html") }}

				</div>
		</div>
</div>
